 {% extends 'frontend/base.html'%}
{% load static%}
{% block content %}

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Our Amazing Properties</h1>
              <span class="color-text-a"> Properties</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Properties
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-option">
              <form method="post">
                {% csrf_token%}
                <select class="custom-select" onchange="this.form.submit()" name="order_filter">
                  <option value="all" {% if filter == "all" %}selected{% endif %}>All</option>
                  <option value="new" {% if filter == "new" %}selected{% endif %}>New to Old</option>
                  <option value="rent" {% if filter == "rent" %}selected{% endif %}>For Rent</option>
                  <option value="sale" {% if filter == "sale" %}selected{% endif %}>For Sale</option>
                </select>
              </form>
             </div>
          </div>

          {% for pr in page.object_list %}
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="/media/{{pr.image}}" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="{% url 'property-single' product_id=pr.id %}">204 Mount
                        {{pr.name}}</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">{{pr.status}} | $ {{pr.price}}</span>
                    </div>
                    <a href="{% url 'property-single' product_id=pr.id %}" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Area</h4>
                        <span>{{pr.aria}} </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Beds</h4>
                        <span>{{pr.beds}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Baths</h4>
                        <span>{{pr.baths}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Garages</h4>
                        <span>{{pr.garages}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
        <div class="row">
          <div class="col-sm-12">
        <nav class="pagination-a">
          <form method="get" id="id_page_form">
            <input type="hidden" id="id_page" name="page" value="{{page.number}}">

          </form>
          <ul class="pagination justify-content-end">
            {% if page.has_previous %}
              <li class="page-item"><a class="page-link" onclick="get_page_list({{page.previous_page_number}})"><<</a></li>
            {% endif %}
              <li class="page-item"><a class="page-link" href="#">{{page.number}}</a></li>
            {% if page.has_next %}
              <li class="page-item"><a style="cursor:pointer;"  class="page-link" onclick="get_page_list({{page.next_page_number}})">>></a></li>
            {% endif %}
          </ul>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Property Grid Single-->

  </main><!-- End #main -->
 <script>
   function get_page_list(page){
   p=document.getElementById("id_page");
   p.value=page;
   document.getElementById("id_page_form").submit();
   }
 </script>

{% endblock  %}